article {
    display: inline-block;
    border: black solid 5px;
    font-family: 'Oswald', sans-serif;
}
html {
    background-color: orange;
}
article {
    background-color: rgb(83, 13, 13);
    color: snow;
}
main {
    position: relative;

}
header {
    text-align: center;
    font-size: 50px;
    margin-top:80px;
}
table, th, td {
    border: black solid 1px;
}

table {
    widows: 100%;
}
.emptyCell {
    border: none;
    font-weight: bold;
}

input {
    display: table;
    width: 350px;
}

form {
    display: inline-block;
    background-color: black;
    color: ivory;
}
