article {
    display: inline-block;
    border: black solid 5px;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(83, 13, 13);
    color: snow;
}
html {
    background-color: black;
}
body, header {
    width: 100%;
    margin: 0px;
}
main {
    position: relative;
}
table, th, td {
    border: black solid 1px;
}
table {
    widows: 100%;
    background-color: orange;
}
.emptyCell {
    border: none;
    font-weight: bold;
}

input {
    display: table;
    width: 100%;
}

form {
    display: inline-block;
    background-color: black;
    color: ivory;
}
#styleButton {
    width: 5vw;
}
li, ul, #styleButton {
    display: inline-block;
}
#newsletter {
    display: inline-block;
    padding: 0px;
}
.navBar {
    display: inline-block;
    border: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.navBarAside {
    font-size: 1vw;
}
#salmonPic {
    width: 10%;
    height: 10%;
}
h1 {
    width: 75%;
    text-align: center;
    font-size: 2vw;
    color: white;
}
#navList {
    width: 80%;
    margin: 1vw;
}
nav {
    background-color: black;
    color: white;
    height: 50px;
}
a {
    color: inherit;
    text-decoration: none;
    font-size: 1vw;
}
.navListItem {
    margin-left: 20%;
}
#seattleWaterfront {
    display: block;
    width: 100%;
}
.borderDiv {
    height: 50px;
    background-color: black;
}
.middlePictures {
    display: inline-block;
    width: 49%;
    float: left;
}
main {
    height: 35vw;
    overflow: hidden;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#middleImages {
    width: 2%;
    display: inline-block;
    float: left;
}
.pictureParagraph {
    background-color: black;
    color: red;
    display: inline-block;
    position: absolute;
    top: 15%;
    left: 60%;
    width: 33%;
    height: 20vw;
    overflow: scroll;
}
h3 {
    text-align: center;
    margin: 0px;
    padding-top: 20px;
    font-size: 2vw;
}
p {
    padding: 15px;
    margin: 0px;
    font-size: 1.5vw;
}
